page-home {

  .card-background-page {
    
    ion-card {
      width: 100%;
      margin: 0;
      position: relative;
      text-align: center;          
    }
    
    .card-title {
      position: absolute;
      top: 45%;
      font-size: 4.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 2px grey;
    }
      
  }

}
